<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestClasses.FailedRerun"/>
    </classes>
  </test> <!-- Test -->
  <listeners>
  	<listener class-name = "BaseClasses.MyListener"></listener>
  </listeners>
</suite> <!-- Suite -->
