<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestClasses.TestNG03_01_Test"/>
      <class name="TestClasses.LinksTest"/>
      <class name="TestClasses.FailedRerun"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
